body {
    color: rgb(0, 0, 0);
    background-color: rgb(63, 187, 152);
  }

  .whatsapp,
  .telegram,
  .youtube {
    text-decoration: none;
    color: #870b45;
  }

  table {
    width: 300px;
    text-align: center;
  }