@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #2f4f4f;
  color: #0f141e;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", serif;
}

.photo {
  width: 250px;
  border-radius: 28px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.532);
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.social {
  background:	#faebd7;
  padding: 15px;
  /* border: 5px solid grey;
  margin: 20px; */
}

/* .box-model div {
  background: #0f141e;
  height: 200px;
  width: 25%;
  float: left;
  max-width: 700px;
  margin-top: 25px;
  margin-left: 360px;
  border: 4px solid red;
  box-sizing: border-box;
} */